
body {
    margin: 0;
    padding: 0;
}

#game-screen {
    display: block;
}

#gameOver, #playHUD, #playScreen {
    position: absolute;
    visibility: hidden;
}


h1, h2, h3 {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-weight: bold;

}
h3 {
    font-size:  20px;
}

.title {
    font-size:65px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#restartButton, #playButton {
    border: 5px solid black;
    border-radius: 20px;
}

#restartButton:hover, #playButton:hover {
    background-color: black;
    color: aquamarine;
    text-decoration: none;
}
a:link {
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: aquamarine;
}
#scoreboard {
    margin: 0px;
}


